@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Restaurant Tracker</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Add a restaurant<span class="sr-only">(current)</span></a></li>
          <li><a href="/cuisines/new">Add a category</a></li>
          <li><a href="/restaurants">View existing restaurant list</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  @* cuisines list *@
  <h2>Categories:</h2>
  <ul>
    @if (Model.Count != 0)
    {
      @foreach (var cuisine in Model)
      {
        <li>
            <a href="/cuisines/@cuisine.GetId()">@cuisine.GetName()</a>
            <a href="/cuisine/edit/@cuisine.GetId()">Edit</a>
            <a href="/cuisines/delete/@cuisine.GetId()">Delete</a>
        </li>
      }
      <h4><a href="/cuisines/new">Add a new category</a></h4>
    }
    else
    {
      <h1>No categories have been created yet!</h1>
      <h4><a href="/cuisines/new">Would you like to add a new category?</a></h4>
    }
  </ul>


  <form action="/cuisines/delete" method="post">
    <button type="submit">Clear all cuisines</button>
  </form>
</div>
