<h1>Add a new restaurant</h1>
<form action="/restaurants/new" method="post">
  <label for="restaurant-name">Restaurant name:</label>
  <input id="restaurant-name" name="restaurant-name" type="text">
  <label for="restaurant-rating">Restaurant rating (1-5):</label>
  <input id="restaurant-rating" name="restaurant-rating" type="number">
  <label for="restaurant-city">Restaurant city:</label>
  <input id="restaurant-city" name="restaurant-city" type="text">
  <select name="cuisine-id">
    @foreach (var cuisine in Model)
    {
      <option value="@cuisine.GetId()">@cuisine.GetName()</option>
    }
  </select>
  <button type="submit">Add new restaurant</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/restaurants">View all restaurants</a></p>
