

.navbar-default {
  background-color: #ff5b5b;
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: white;
}

.restaurant-form {
  display: none;
}

.category-form {
  display: none;
}
